<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<ul>
    {% for subject in object_list %}
        <li>{{ subject.title }}</li>
    {% endfor %}
</ul>

</body>
</html>