<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<ul>
    {% for teacher in object_list %}
        <li>
            {{ teacher.name }}
                    <form method="post" action="{% url 'teacher_delete' pk=teacher.id %}">{% csrf_token %}
            <p>Are you sure you want to delete "{{ teacher }}"?</p>
            <input type="submit" value="Confirm">
        </form>
        </li>
    {% endfor %}
</ul>

</body>
</html>